$header-font-color: #666;
$border-color: #e8e8e8;
$background-color: #f2f2f2;
$font-color: #444;
$show-review-font-color: #666;
$gray-font-color: #999;
$kauru-main-color: #00d1c1;
$kauru-sub-color: #61ace5;

@mixin content-detail() {
  $font-size: 16px;
  text-align: center;
  font-size: $font-size;
  padding: 20px;
  line-height: $font-size * 1.5;
}

@mixin button($color) {
  border-radius: 2.5px;
  background-color: $color;
  color: white;
  font-size: 26px;
  width: 200px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  padding: 10px 15px;
  border-bottom: 2px solid darken($color, 10);
  box-shadow: 0 2px 2px -2px #666;
  &:hover {
    transform: translateY(2px);
    border-bottom: 2px solid $color;
    cursor: pointer;
  }
}

@mixin clearfix() {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

html {
  color: $font-color;
  body {
    padding: 0;
    margin: 0;
  }
}
#header {
  $header-height: 60px;
  width: 100vw;
  height: $header-height;
  border-bottom: 1px solid $border-color;
  #contents {
    width: 60%;
    margin: 0 auto;
    #left_contents {
      display: inline-block;
      float: left;
      .title {
        color: $kauru-main-color;
        font-size: 24px;
        font-weight: bold;
        line-height: $header-height;
      }
    }
    #right_contents {
      display: inline-block;
      float: right;
      .flex_box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        height: $header-height;
        .content {
          box-sizing: border-box;
          border-radius: 2.5px;
          padding: 5px 10px;
          margin-left: 10px;
          font-size: 16px;
          color: white;
        }
        .login {
          background-color: $kauru-main-color;
        }
        .signup {
          background-color: $kauru-sub-color;
        }
        .new {
          background-color: $kauru-main-color;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#top-view {
  width: 100vw;
  height: 500px;
  // background: linear-gradient(to bottom right, $kauru-main-color, 70%, $kauru-sub-color);
  // background-image: url("city.jpg");
  background-image: url("city-picture.jpg");
  background-position: center -180px;
  background-size: cover;
  box-shadow: 0 1px 2px 1px #999;
  position: relative;
  .contents {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    .messagebox {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      padding: 50px;
      box-sizing: border-box;
      opacity: 0.8;
      // background: linear-gradient(to bottom right, $kauru-main-color, 70%, $kauru-sub-color);
      background-color: $kauru-main-color;
      .title {
        padding-top: 100px;
        font-size: 72px;
        color: white;
        font-weight: bold;
        // text-shadow: 0 2px 2px #666;
      }
      .detail {
        font-size: 20px;
        color: white;
        // text-shadow: 0 2px 2px #666;
        padding: 10px;
      }
      .button {
        @include button($kauru-sub-color);
      }
    }
  }
}

#contents {
  width: 100vw;
  background-color: $background-color;
  .content {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    .flex-box {
      margin: 0 auto;
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 80px;
      .item {
        box-sizing: border-box;
        padding: 20px;
        .f-title {
          font-size: 20px;
          font-weight: bolder;
          text-align: center;
          padding: 10px;
        }
        .f-image-box {
          width: 100%;
          height: 300px;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        .f-detail {
          @include content-detail();
        }
      }
    }
    .title {
      font-size: 24px;
      font-weight: bolder;
      text-align: center;
      padding-top: 100px;
    }
    .detail {
      width: 30%;
      margin: 0 auto;
      @include content-detail();
    }
    .button {
      @include button($kauru-sub-color);
      width: 300px;
    }
    .articles {
      margin: 0 auto;
      padding: 50px 0;
      width: 60%;
      list-style: none;
      .article {
        position: relative;
        width: 100%;
        padding: 20px;
        padding-bottom: 50px;
        border-bottom: 1px solid darken($border-color, 20);
        @include clearfix();
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          background-color: darken(white, 10)
        }
        .a-image-box {
          display: inline-block;
          float: left;
          box-sizing: border-box;
          $image-size: 20%;
          width: $image-size;
          height: $image-size;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        .a-heading {
          display: inline-block;
          float: left;
          box-sizing: border-box;
          width: 80%;
          padding: 0 20px;
          color: $font-color;
          .a-title {
            font-size: 18px;
            font-weight: bolder;
          }
          .a-detail {
            font-size: 16px;
            padding-top: 10px;
            height: 120px;
            overflow: hidden;
          }
        }
        .a-date {
          color: lighten($font-color, 20);
          position: absolute;
          right: 40px;
          bottom: 50px;
          font-size: 12px;
        }
      }
    }
    .new-form {
      width: 60vw;
      box-sizing: border-box;
      margin: 20px auto;
      padding: 20px;
      border-radius: 2.5px;
      border: 1px solid $border-color;
      text-align: center;
      background-color: white;
      input {
        padding: 10px;
        font-size: 20px;
        width: 50%;
        border: none;
        margin-bottom: 50px;
        background-color: darken(white, 10);
        &:focus {
          outline: 0;
        }
      }
      textarea {
        width: 50%;
        padding: 10px;
        font-size: 16px;
        border: none;
        background-color: darken(white, 10);
        &:focus {
          outline: 0;
        }
      }
      input[type=file] {
        font-size: 12px;
      }
      input[type=submit] {
        box-sizing: border-box;
        @include button($kauru-main-color);
      }
    }
  }
  .light-background-color-sub {
    background-color: lighten($kauru-sub-color, 30);
  }
  .background-color-white {
    background-color: white;
  }
}

#post {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-image: url("post.png");
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 2px 0 #999;
  #message {
    box-sizing: border-box;
    position: fixed;
    bottom: 150px;
    right: 150px;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 0 0 #999;
  }
}

#show_content {
  background-color: $background-color;
  padding-top: 50px;
  padding-bottom: 50px;
  #content {
    margin: 0 auto;
    width: 60vw;
    min-width: 600px;
    background-color: white;
    border: 1px solid $border-color;
    #title {
      box-sizing: border-box;
      font-size: 36px;
      padding: 20px;
      width: 100%;
      font-family: "游ゴシック体";
      &:after {
        box-sizing: border-box;
        display: block;
        content: '';
        // width: 300px;
        border-bottom: 2px solid $kauru-main-color;
      }
    }
    #image {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        max-height: 648px;
        object-fit: cover;
      }
    }
    #body {
      padding: 20px;
      font-size: 15px;
      line-height: 27px;
    }
    #buttons {
      padding: 20px;
      .button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 4px;
        margin-right: 10px;
        color: white;
        background-color: $kauru-main-color;
        border-bottom: 2px solid darken($kauru-main-color, 20);
        &:hover {
          border-bottom: none;
          transform: translateY(2px);
        }
      }
    }
  }
}